
  
{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": "airbnb-base",
    rules: {
    "wrap-iife": [2, "any"],
    'func-names': 0,
    'no-alert': 0,
    'no-plusplus': 0,
    'no-return-assign': 0,
    'no-unused-expressions': 0,
    'arrow-parens': 0,
    'arrow-body-style': 0,
    'space-before-function-paren': 0,
    'no-shadow': 0,
    'no-param-reassign': 0,
    'radix': false,
    'eol-last': 0,
    "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false,
  },
  }
}
